
body{
    background: url('sand.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}
.grid{
    margin-top: 7px;
}
h1{
    color:white;
    font-weight: bold;
    padding: 50px;
    text-align: center;
    font-size:200px;
}
.input{
    border-radius: 40px;
    width:550px;
    padding-top: 10px;
    position:relative;
}
.first img{
    height:50px;
    width:50px;
    padding-top: 10px;
}
.second img{
    height:50px;
    width:50px;
    padding-top: 10px 
}
.google{
    height:90%;
}
.paper {
    position: fixed;
    bottom: 0;
    width: 12%;
    border-radius: 50px;
    
  }
.ilast{
    position: fixed;
    left:calc( calc(100% - 12%)/2);
    bottom: 3px;
    width: 15%;
    border-radius: 50px;
}

.pencil{
    position: fixed;
    left:calc( 100% - 2%);
    bottom: 0;
}